<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Acerca De:</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>

    <div style="text-align: center;font-size: 45px;  class="container p-5">
        Mi pagina viene a explicar, acerca de lo que es el FrameWork y cual es su función.
    </div>

    <% include partials/footer %>
  </body>
</html>