<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FrameWork</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>

    <div style="text-align: center;font-size: 30px"; class="container p-5">
      Es una estructura previa que se puede aprovechar para desarrollar un proyecto.
      Sirve para cualquier proyecto en Internet se requiere un desarrollador web que produzca el software o la aplicación que necesitamos.      
    </div>

    <% include partials/footer %>
  </body>
</html>
