<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tarea 1. FrameWork</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>
    <div class="container">
    
    </div>
    <% include partials/footer %>
  </body>
</html>
