body {
  background: #00FFFF;  
  background: -webkit-linear-gradient(to right, #00FFFF, #00FFFF); 
  background: linear-gradient(to right, #00FFFF, #00FFFF); 
}

.navbar-brand {
  font-family: 'times new roman', cursive;
  font-size: 3.5rem;
}

.nav-link {
  text-transform: uppercase;
  font-family: 'Arial', cursive;
  font-size: 1.80rem;
}

header img {
  width: 80%;
}
